<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>

  <div class="container-fluid bg-3 text-center">
    <h3><%= title %></h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p><a href="/about">CLICK HERE TO KNOW MORE ABOUT ME</a></p>
      </div>
      <div class="col-sm-4">
        <p><a href="/login">Log in to see my Business Contacts</a></p>
      </div>
      <div class="col-sm-4">
        <p>Stay focused NavBar! All my links belong to you!.</p>
      </div>
    </div>
  </div>

</body>
<% include partials/script %>

</html>
