<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>

  <div class="container-fluid bg-3 text-center">
    <h3><%= title %></h3><br>
    <div class="container">
      <form class="form-signin form-group" role="form" action="/register" method="post" style="max-width: 300px;">
        <h2 class="form-signin-heading form-group">Sign Up here</h2>
        <input class="form-control form-group" type="text" name="name" placeholder="Your Name" />
        <input class="form-control form-group" type="text" name="username" placeholder="Your Username" />
        <input class="form-control form-group" type="password" name="password" placeholder="Your Password" />
        <button class="btn btn-lg btn-primary btn-block form-group" type="submit">Sign Up</button>
      </form>
    </div>
  </div>

</body>
<% include partials/script %>

</html>
