<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/menu %>

  <div class="container-fluid bg-3 text-center">
    <h3><%= title %></h3><br>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-8">
        <form action="/buzContact/new" method="POST" >
      <input class="form-control form-group" type="text" placeholder="Contact Name" name="name" />
      <input class="form-control form-group" type="text" placeholder="Contact Number" name="number" />
      <input class="form-control form-group" type="text" placeholder="Contact Email Address" name="email" />
      <button class="btn btn-primary btn-rounded btn-xl text-uppercase" type="submit">Submit</button>
    </form>
      </div>
    </div>
  </div>

</body>
<% include ../partials/script %>

</html>
